@tailwind base;
@tailwind components;
@tailwind utilities;

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  background-color: #080808;
  color: #F5F5F5;
  @apply text-base lg:text-lg leading-relaxed;
  font-family: "Noto Sans", sans-serif;
}

.heading-font-sizes {
  @apply text-[1.875rem] md:text-[3rem] lg:text-[3.75rem] leading-[1.2];
}

.pages-vertical-padding {
  @apply py-[56px] md:py-[72px] lg:py-[150px];
}

/* Applies to the whole page */
body {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #1f1f1f #1a1a1a; /* Thumb color and Track color for Firefox */
}

/* Webkit-based browsers */
body::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: #1a1a1a; /* Background of the track */
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #1f1f1f; /* Color of the thumb */
  border-radius: 10px;
  border: 2px solid #1a1a1a; /* Padding around the thumb */
}


/* mobile nav link */
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.5s ease forwards;
}

/* mobile */
.mobile-nav-link {
  width: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 16px;
}

/* Hovered style */
.mobile-nav-link:hover {
  color: #FFAB20;
  background-color: #1f1f1f8e;
}

/* Active state with ::after pseudo-element */
.mobile-nav-link-active {
  width: 100%;
  background-color: #1f1f1f8e;
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 16px;
}


/* desktop */
.desktop-nav-link {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.desktop-nav-link:hover {
  color: #FFAB20;
}

/* Active state with ::after pseudo-element */
.desktop-nav-link-active {
  width: 100%;
  color: #4169e1;
  position: relative;
}

.desktop-nav-link-active::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #4169e1;
  left: 0;
  height: 1.5px;
  width: 100%;
  bottom: -6px;
  right: 0;
  transition: all 0.3s ease-in-out;
}

/* contact form */
.contact-input {
  width: 100%;
  height: 44px;
  padding: 8px 12px;
  font-size: 0.875rem; 
  color: #ECF0FC80;
  background-color: #111111;
  border: 0.5px solid #4169E1;
  border-radius: 0.375rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.contact-input::placeholder {
  color: #ECF0FC80; 
}

.btn-grad {background-image: linear-gradient(to bottom, #4168E2 0%, #4168E2  51%, #FFAB20  140%)}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.contact-input:focus {
  outline: none;
  border-color: #717272;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.contact-form label {
  display: block;
  margin-bottom: 6px;
}

/* footer */
.social-icon:hover {
  transform: scale(1.1);
  filter: brightness(85%);
  transition: all 0.2s ease-in-out;
}

.footer-link:hover {
  color: #FFAB20;
  transition: color 0.2s ease-in-out;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
